## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [5]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Shingu,JP,78.40,broken clouds,33.7333,135.9833,Shingu UI Hotel
1,3,Atuona,PF,77.86,few clouds,-9.8000,-139.0333,Villa Enata
2,5,Kishni,IN,88.66,overcast clouds,27.0247,79.2634,श्री आंनद ग्रुप
3,6,Ajdabiya,LY,77.47,clear sky,30.7554,20.2263,Almadina Hotel
4,8,Victoria,HK,87.96,few clouds,22.2855,114.1577,Mini Central
...,...,...,...,...,...,...,...,...
170,512,Asilah,MA,84.16,clear sky,35.4650,-6.0348,Hotel Zelis
171,518,Sohag,EG,85.41,scattered clouds,26.5570,31.6948,Civil Registry - Sohag 1
172,520,Naples,IT,76.75,clear sky,40.8333,14.2500,Renaissance Naples Hotel Mediterraneo
173,525,Patiya,BD,76.80,broken clouds,22.2931,91.9762,Sorry
174,532,Bluffton,US,77.02,thunderstorm,32.2371,-80.8604,Holiday Inn Express & Suites Bluffton @ Hilton...

In [6]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
vacation_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [7]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=vacation_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Lompoc']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Lompoc']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Half Moon Bay']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Eureka'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Portland']

In [19]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = tuple(map(tuple,(vacation_start[['Lat', 'Lng']].to_numpy())))[0]
end = tuple(map(tuple,(vacation_end[["Lat", "Lng"]].to_numpy())))[0]
stop1 = tuple(map(tuple,(vacation_stop1[["Lat", "Lng"]].to_numpy())))[0]
stop2 =  tuple(map(tuple,(vacation_stop2[["Lat", "Lng"]].to_numpy())))[0]
stop3 = tuple(map(tuple,(vacation_stop3[["Lat", "Lng"]].to_numpy())))[0]

In [20]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps.datasets
fig = gmaps.figure()
start2end = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3],travel_mode='BICYCLING')
fig.add_layer(start2end)
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,
                          vacation_stop1,
                          vacation_stop2,
                          vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,138,Lompoc,US,82.69,clear sky,34.6391,-120.4579,"Holiday Inn Express Lompoc, an IHG Hotel"
1,80,Half Moon Bay,US,84.88,broken clouds,37.4636,-122.4286,"The Ritz-Carlton, Half Moon Bay"
2,48,Eureka,US,80.67,scattered clouds,40.8021,-124.1637,Eureka Inn Trademark By Wyndham
3,277,Portland,US,83.61,broken clouds,45.5234,-122.6762,Embassy Suites by Hilton Portland Downtown

In [22]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
itinerary_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [23]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=itinerary_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))